* { /* tutti gli elementi */
    box-sizing: border-box;
    /* applico a TUTTI gli elementi il box-model "border-box" */
    /* vedi: https://css-tricks.com/the-css-box-model/ 
    e https://www.w3schools.com/css/css_boxmodel.asp */
}

body {
    font-family: 'Anek Telugu', sans-serif;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.container {
    width:70%;
    margin:0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    background:#c01717;
    color:#ffffff;
    /*primo valore: top/bottom | secondo valore: left/right*/
    padding: 0.5rem 1.5rem; 

    text-decoration:none;
    border-radius:6px;
    transition: all 0.25s;
}

.button:hover {
    background: #6c0c0c;
}



/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */
/* -------------------------------------------------------------------------- */

#hero {
    background-image: url('../images/rental-hero.jpg');
    background-size: cover; /*adatta l'immagine di sfondo per coprire sempre lo spazio*/
    background-position: center center; /*ridimensiona e adatta partendo dal centro */

    background-repeat: no-repeat; /*evita l'affiancamento dell'immagine*/

    height:100vh; /*viewport height, unità di misura relativa all'ALTEZZA del viewport*/

    color:#efefef;

    /*centro la call to action*/

    display: flex;
    justify-content: center; /*centro sul main axis (orizzontale)*/
    align-items: center; /*centro sul cross axis (verticale)*/

}

.callToAction {
    text-align:center;
}

.callToAction h1 {
    text-transform:uppercase; /*tutto maiuscolo*/
    margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                                SEZIONE NEWS                                */
/* -------------------------------------------------------------------------- */

#news {
    padding-top: 6rem;
    padding-bottom: 6rem;

}

.newsBox {
    display: flex;
    align-items: center; /*align funziona sull cross-axis (asse Y)*/
    margin-bottom:4rem;
}

.newsImage {
    width:40%;
}

.newsText {
    width:60%;
    padding:2rem;

    font-size: 1.5rem;

}

.newsText h2 {
    font-size: 2.5rem;

}



/*con la pseudoclasse :nth-of-type() posso agire solo sugli elementi N di quel selettore. 
Ad esempio qui seleziono solo gli elementi PARI con classe .newsBox */

.newsBox:nth-of-type(even) .newsImage {
    order:1;
}

.newsBox:nth-of-type(even) .newsText {
    text-align: right;
}


/* -------------------------------------------------------------------------- */
/*                                   SPACER                                   */
/* -------------------------------------------------------------------------- */

#spacer {
    /*spacer con effetto pseudo-parallasse*/
    background-image: url('../images/spacer.jpg');
    height: 30rem;

    background-size: cover;
    background-position: center center;

    background-repeat: no-repeat;

    /*questo blocca il background: non scorre più*/
    background-attachment: fixed;

}

/* -------------------------------------------------------------------------- */
/*                               SEZIONE GALLERY                              */
/* -------------------------------------------------------------------------- */

#gallery {
padding-top:6rem;
}

.galleryWrapper {
    display: flex;
    flex-wrap: wrap; /*vai a capo quando lo spazio finisce!*/
}

.galleryItem {
    width: 25%;
    padding:1rem;   
}

.galleryItem img {
    width:100%;
}

/* -------------------------------------------------------------------------- */
/*                             MENU DI NAVIGAZIONE                            */
/* -------------------------------------------------------------------------- */

.logo img {
    height:5rem;
    /* se fornisco una dimensione sola l'altra si calcola in automatico*/
}


#mainHeader .container {

    /* il .container dentro #mainHeader */

    display: flex;

    justify-content: space-between; /*allineamento in orizzontale (main axis)*/
    align-items: center; /*allineamento in verticale (cross axis) */


}

.mainNav ul {
    
    /* l'elemento UL dentro .mainNav */

    list-style-type: none;

    padding:0;
    display: flex;
    
    gap:2.5rem;
    
}

.mainNav a {

    text-decoration: none;
    color: #C01717;

    padding:0.5rem 1rem;

}

.mainNav a:hover {
    border:1px solid #C01717;
}



.box:nth-of-type(odd) {
    background: red;
}

