form {
    width:700px;
    margin:0 auto;
    border:1px solid rgb(183, 183, 183);
    padding:1rem;
    border-radius:15px;

    /*ombra*/
    box-shadow: 6px 10px 41px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 41px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 41px -16px rgba(0,0,0,0.75);
}