@mixin myGradient($from,$to) {

background: $from;
background: linear-gradient(0deg, $from 0%, $to 100%);
}

@mixin myButton ($bgColor,$textColor, $hollow) {

    background: $bgColor;
    padding:0.5rem 1.5rem;
    text-decoration: none;
    border-radius:10px;
    color:$textColor;
    transition:all 0.5s;

    &:hover {
        background:lighten($bgColor,10%);
    }

    

    @if $hollow==true {
        background:transparent;
        border:1px solid $bgColor;

        &:hover {

            background:$bgColor;
            color:invert($bgColor);
        }

    }

}
